.wrapper {
    position: relative;
    width: 420px;
    height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: #fff;
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.wrapper .form-login-box {
    width: 100%;
    padding: 40px;
}

form h1 {
    text-align: center;
    font-size: 36px;
}

.input-box {
    margin: 10px 0;
    height: 50px;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    border-radius: 45px;
    position: relative;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .1);
    background: transparent;
    color: white;
    padding-left: 15px;
}

input::placeholder {
    left: 4px;
    position: absolute;
    color: white;
}

.icon {
    position: absolute;
    right: 10px;
    top: 30%;
    font-size: 16px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot label input:hover {
    cursor: pointer;
}

.button-box {
    position: absolute;
    height: 45px;
    width: 80%;
    margin: 20px auto;
    left: 10%;
    bottom: 70px;
}

.button-box button {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, .1);
    background: white;
    color: black;
    font-weight: bold;
}

.register-link {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.remember-forgot a, .register-link a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover, .register-link a:hover {
    text-decoration: underline;
}

.button-box button:hover {
    cursor: pointer;
}
